
/* reset buttons  (https://gist.github.com/MoOx/9137295) */

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* ****** */


body {
  font-family: 'Ubuntu',sans-serif;
}

#pta-haku {
  padding-top: 1.5em;
  background: #fff;
  margin: 0 auto;
  width: 600px; 
}

#pta-haku #pta-logo-container {
  margin: 0 auto;
  width: 300px; 
}

#pta-haku #pta-logo-container #pta-logo {
  /* Kuvasuhde: leveys = 0.82044100246046436716, korkeus = 1 */
  width: 8.2em;
  height: 10em;
  background-image: url(../img/pta-logo.svg);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

#pta-haku #pta-logo-container #pta-logo-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.3em;
  color: #312f79;
  font-family: "Titillium Web",sans-serif;
}


#pta-haku #pta-haku-input input {
  width: 600px;
  border: 1px solid #ddd;
  height: 2em;
  box-shadow: 0px 2px 3px #aaa;
  margin: 0 0 10px 0;
  padding-left: .75em;
  outline: none;
}

#pta-haku #pta-haku-input button {
  background: #eee;
  padding: .5em 1em .5em 1em;
  cursor: pointer;
  border: 1.5px solid #eee;
  color: #999;
  outline: none;
}

#pta-haku #pta-haku-input button:hover {
  background: #eee;
  border: 1.5px solid #ddd;
  color: #000;
}



#pta-haku #pta-haku-input #pta-haku-input-container {
  padding-bottom: 0.5em;
  text-align: center;
}

/* Tulokset */
#pta-tulokset #pta-tulokset-vinkit, #pta-tulokset #pta-tulokset-osumat {
  display: none;
}

#pta-tulokset #pta-tulokset-vinkit span, #pta-tulokset #pta-tulokset-vinkit #pta-tulokset-vinkit-lista {
  display: inline-block;
}
#pta-tulokset #pta-tulokset-vinkit .pta-tulokset-vinkit-vinkki {
  display: inline-block;
  background: #88f;
  margin: 5px;
  color: #fff;
  padding: .25em .5em .25em .5em;
  border-radius: 3px;
}

#pta-tulokset #pta-tulokset-virhe .pta-virhe {
  display: inline-block;
  background: #f88;
  margin: 5px;
  color: #fff;
  padding: .25em .5em .25em .5em;
  border-radius: 3px;
  max-width: 100%;
}

#pta-tulokset #pta-tulokset-virhe .pta-virhe pre {
  font-size: 0.5em;
}
